{% extends "base.html" %}

{% block content %}

<div>
    <form action="{% url 'dashboard' %}" method="POST" class="mt-3" id="preferences-form" aria-label="update profile details form">
        {% csrf_token %}
        
        <button class="btn btn-affirmative float-right" aria-label="submit updated details"><i class="fas fa-user-edit"></i> Save
            Preferences</button>
    </form>
</div>

{% include 'dashboard/includes/timer_modal.html' %}
{% include 'dashboard/includes/video_modal.html' %}
{% include 'dashboard/includes/message_self_modal.html' %}
{% include 'dashboard/includes/well_check_modal.html' %}

{% endblock %}
