{% extends "base.html" %}

{% load static %}


{% block content %}
    {% include 'dashboard/includes/day-clouds.html' %}
    {% include 'dashboard/includes/night-clouds.html' %}
    {% include 'dashboard/includes/all-stars.html' %}
    
    
    <div class="headbox">
      {% include 'dashboard/includes/calma-header.html' %}
      <div class="toggle-container">
        <input type="checkbox" id="switch" name="theme" /><label
          id="darkLight"
          for="switch"
          checked
        ></label>
      </div>
    </div>
    
 
  
  <script>
    let checkbox = document.querySelector("input[name=theme");

checkbox.addEventListener("change", function () {
if (this.checked) {
  document.documentElement.setAttribute("data-theme", "dark");
} else {
  document.documentElement.setAttribute("data-theme", "light");
}
});
</script>



{% include 'dashboard/includes/timer_modal.html' %}
{% include 'dashboard/includes/video_modal.html' %}
{% include 'dashboard/includes/message_self_modal.html' %}
{% include 'dashboard/includes/well_check_modal.html' %}

{% endblock %}
