{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    {% block meta %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="">
    <meta name="description" content="Calma - The Mindful Dashboard">
    {% endblock %}

    <!-- Bootstrap,  CSS & Google fonts -->
    {% block corecss %}
    {% endblock %}

    <!-- Javascript / scripts -->
    {% block corejs %}
    {% endblock %}

    <title>Calma</title>

    

</head>


<body>
    <header>Test Header</header>
{% block content %}
{% endblock %}

{% block postloadjs %}
{% endblock %}
</body>
</html>