{% load static %}

<!DOCTYPE html>
<html lang="en"  data-theme="light">
<head>
    <!-- Required meta tags -->
    {% block meta %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="">
    <meta name="description" content="Calma - The Mindful Dashboard">
    {% endblock %}

    <!-- Bootstrap,  CSS & Google fonts -->
    {% block corecss %}
    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <!-- bootstrap -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
      integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I"
      crossorigin="anonymous"
    />
    <!-- icon -->
    <link rel="shortcut icon" type="image/png" href="{% static 'icons/calma-logo120.png' %}" />
    {% endblock %}

    <!-- Javascript / scripts -->
    {% block corejs %}
    {% endblock %}

    <title>Calma </title>

</head>


<body>
{% block content %}
{% endblock %}

{% block postloadjs %}
{% endblock %}
</body>
</html>