<svg
      id="all-stars"
      viewBox="0 0 1920 1080"
      version="1.1"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      xml:space="preserve"
      xmlns:serif="http://www.serif.com/"
      style="
        fill-rule: evenodd;
        clip-rule: evenodd;
        stroke-linejoin: round;
        stroke-miterlimit: 2;
      "
    >
      <g class="twinkle-star2" id="stars">
        <g id="star-l" transform="matrix(6,0,0,6,-1650,-750)">
          <circle cx="332" cy="152" r="2" style="fill: url(#_Radial1)" />
        </g>
        <g id="star-m" transform="matrix(5,0,0,5,-856,-553)">
          <circle cx="332" cy="152" r="2" style="fill: url(#_Radial2)" />
        </g>
        <g
          class="twinkle-star2"
          id="star-m1"
          serif:id="star-m"
          transform="matrix(5,0,0,5,-1208,-644)"
        >
          <circle cx="332" cy="152" r="2" style="fill: url(#_Radial3)" />
        </g>
        <g id="star-m2" serif:id="star-m" transform="matrix(5,0,0,5,-394,-709)">
          <circle cx="332" cy="152" r="2" style="fill: url(#_Radial4)" />
        </g>
        <g id="star-s" transform="matrix(3.5,0,0,3.5,-517,-399)">
          <circle cx="332" cy="152" r="2" style="fill: url(#_Radial5)" />
        </g>
        <g
          class="twinkle-star2"
          id="star-s1"
          serif:id="star-s"
          transform="matrix(3.5,0,0,3.5,559,-377)"
        >
          <circle cx="332" cy="152" r="2" style="fill: url(#_Radial6)" />
        </g>
        <g
          id="star-s2"
          serif:id="star-s"
          transform="matrix(3.5,0,0,3.5,365,-471)"
        >
          <circle cx="332" cy="152" r="2" style="fill: url(#_Radial7)" />
        </g>
        <g
          class="twinkle-star2"
          id="star-l1"
          serif:id="star-l"
          transform="matrix(6,0,0,6,-1871,-727)"
        >
          <circle cx="332" cy="152" r="2" style="fill: url(#_Radial8)" />
        </g>
        <g
          id="star-l2"
          serif:id="star-l"
          transform="matrix(6,0,0,6,-104.5,-884)"
        >
          <circle cx="332" cy="152" r="2" style="fill: url(#_Radial9)" />
        </g>
        <g
          class="twinkle-star2"
          id="star-l3"
          serif:id="star-l"
          transform="matrix(6,0,0,6,-1240.5,-886)"
        >
          <circle cx="332" cy="152" r="2" style="fill: url(#_Radial10)" />
        </g>
        <g
          class="twinkle-star2"
          id="star-m3"
          serif:id="star-m"
          transform="matrix(5,0,0,5,-1077,-530)"
        >
          <circle cx="332" cy="152" r="2" style="fill: url(#_Radial11)" />
        </g>
        <g
          class="twinkle-star"
          id="star-m4"
          serif:id="star-m"
          transform="matrix(5,0,0,5,-1429,-621)"
        >
          <circle cx="332" cy="152" r="2" style="fill: url(#_Radial12)" />
        </g>
        <g id="star-m5" serif:id="star-m" transform="matrix(5,0,0,5,-615,-686)">
          <circle cx="332" cy="152" r="2" style="fill: url(#_Radial13)" />
        </g>
        <g
          class="twinkle-star"
          id="star-s3"
          serif:id="star-s"
          transform="matrix(3.5,0,0,3.5,-738,-376)"
        >
          <circle cx="332" cy="152" r="2" style="fill: url(#_Radial14)" />
        </g>
        <g
          class="twinkle-star"
          id="star-s4"
          serif:id="star-s"
          transform="matrix(3.5,0,0,3.5,338,-354)"
        >
          <circle cx="332" cy="152" r="2" style="fill: url(#_Radial15)" />
        </g>
        <g
          class="twinkle-star"
          id="star-s5"
          serif:id="star-s"
          transform="matrix(3.5,0,0,3.5,144,-448)"
        >
          <circle cx="332" cy="152" r="2" style="fill: url(#_Radial16)" />
        </g>
        <g
          class="twinkle-star2"
          id="star-l4"
          serif:id="star-l"
          transform="matrix(6,0,0,6,-1511,-776)"
        >
          <circle cx="332" cy="152" r="2" style="fill: url(#_Radial17)" />
        </g>
        <g id="star-m6" serif:id="star-m" transform="matrix(5,0,0,5,-717,-579)">
          <circle cx="332" cy="152" r="2" style="fill: url(#_Radial18)" />
        </g>
        <g
          class="twinkle-star"
          id="star-m7"
          serif:id="star-m"
          transform="matrix(5,0,0,5,-1069,-670)"
        >
          <circle cx="332" cy="152" r="2" style="fill: url(#_Radial19)" />
        </g>
        <g
          class="twinkle-star2"
          id="star-m8"
          serif:id="star-m"
          transform="matrix(5,0,0,5,-255,-735)"
        >
          <circle cx="332" cy="152" r="2" style="fill: url(#_Radial20)" />
        </g>
        <g
          class="twinkle-star"
          id="star-s6"
          serif:id="star-s"
          transform="matrix(3.5,0,0,3.5,-378,-425)"
        >
          <circle cx="332" cy="152" r="2" style="fill: url(#_Radial21)" />
        </g>
        <g
          class="twinkle-star2"
          id="star-s7"
          serif:id="star-s"
          transform="matrix(3.5,0,0,3.5,698,-403)"
        >
          <circle cx="332" cy="152" r="2" style="fill: url(#_Radial22)" />
        </g>
        <g
          class="twinkle-star"
          id="star-s8"
          serif:id="star-s"
          transform="matrix(3.5,0,0,3.5,504,-497)"
        >
          <circle cx="332" cy="152" r="2" style="fill: url(#_Radial23)" />
        </g>
        <g
          class="twinkle-star"
          id="star-s9"
          serif:id="star-s"
          transform="matrix(3.5,0,0,3.5,625,-507)"
        >
          <circle cx="332" cy="152" r="2" style="fill: url(#_Radial24)" />
        </g>
        <g
          class="twinkle-star2"
          id="star-s10"
          serif:id="star-s"
          transform="matrix(3.5,0,0,3.5,-1132,-497)"
        >
          <circle cx="332" cy="152" r="2" style="fill: url(#_Radial25)" />
        </g>
        <g
          class="twinkle-star"
          id="star-s11"
          serif:id="star-s"
          transform="matrix(3.5,0,0,3.5,-842,-511)"
        >
          <circle cx="332" cy="152" r="2" style="fill: url(#_Radial26)" />
        </g>
        <g
          class="twinkle-star2"
          id="star-l5"
          serif:id="star-l"
          transform="matrix(-6.13589,0,0,6,3629.89,-540)"
        >
          <circle cx="332" cy="152" r="2" style="fill: url(#_Radial27)" />
        </g>
        <g
          class="twinkle-star"
          id="star-m9"
          serif:id="star-m"
          transform="matrix(-5.11324,0,0,5,2817.91,-343)"
        >
          <circle cx="332" cy="152" r="2" style="fill: url(#_Radial28)" />
        </g>
        <g
          class="twinkle-star2"
          id="star-m10"
          serif:id="star-m"
          transform="matrix(-5.11324,0,0,5,3177.88,-434)"
        >
          <circle cx="332" cy="152" r="2" style="fill: url(#_Radial29)" />
        </g>
        <g
          class="twinkle-star"
          id="star-m11"
          serif:id="star-m"
          transform="matrix(-5.11324,0,0,5,2345.44,-499)"
        >
          <circle cx="332" cy="152" r="2" style="fill: url(#_Radial30)" />
        </g>
        <g
          class="twinkle-star"
          id="star-s12"
          serif:id="star-s"
          transform="matrix(-3.57927,0,0,3.5,2471.23,-189)"
        >
          <circle cx="332" cy="152" r="2" style="fill: url(#_Radial31)" />
        </g>
        <g
          class="twinkle-star2"
          id="star-s13"
          serif:id="star-s"
          transform="matrix(-3.57927,0,0,3.5,1370.86,-167)"
        >
          <circle cx="332" cy="152" r="2" style="fill: url(#_Radial32)" />
        </g>
        <g
          class="twinkle-star"
          id="star-s14"
          serif:id="star-s"
          transform="matrix(-3.57927,0,0,3.5,1569.25,-261)"
        >
          <circle cx="332" cy="152" r="2" style="fill: url(#_Radial33)" />
        </g>
        <g
          id="star-l6"
          serif:id="star-l"
          transform="matrix(-6.13589,0,0,6,3855.9,-517)"
        >
          <circle cx="332" cy="152" r="2" style="fill: url(#_Radial34)" />
        </g>
        <g
          class="twinkle-star"
          id="star-l7"
          serif:id="star-l"
          transform="matrix(-6.13589,0,0,6,2049.39,-674)"
        >
          <circle cx="332" cy="152" r="2" style="fill: url(#_Radial35)" />
        </g>
        <g
          id="star-l8"
          serif:id="star-l"
          transform="matrix(-6.13589,0,0,6,3211.12,-676)"
        >
          <circle cx="332" cy="152" r="2" style="fill: url(#_Radial36)" />
        </g>
        <g
          class="twinkle-star"
          id="star-m12"
          serif:id="star-m"
          transform="matrix(-5.11324,0,0,5,3043.91,-320)"
        >
          <circle cx="332" cy="152" r="2" style="fill: url(#_Radial37)" />
        </g>
        <g
          class="twinkle-star2"
          id="star-m13"
          serif:id="star-m"
          transform="matrix(-5.11324,0,0,5,3403.89,-411)"
        >
          <circle cx="332" cy="152" r="2" style="fill: url(#_Radial38)" />
        </g>
        <g
          id="star-m14"
          serif:id="star-m"
          transform="matrix(-5.11324,0,0,5,2571.45,-476)"
        >
          <circle cx="332" cy="152" r="2" style="fill: url(#_Radial39)" />
        </g>
        <g
          class="twinkle-star2"
          id="star-s15"
          serif:id="star-s"
          transform="matrix(-3.57927,0,0,3.5,2697.24,-166)"
        >
          <circle cx="332" cy="152" r="2" style="fill: url(#_Radial40)" />
        </g>
        <g
          id="star-s16"
          serif:id="star-s"
          transform="matrix(-3.57927,0,0,3.5,1596.87,-144)"
        >
          <circle cx="332" cy="152" r="2" style="fill: url(#_Radial41)" />
        </g>
        <g
          class="twinkle-star"
          id="star-s17"
          serif:id="star-s"
          transform="matrix(-3.57927,0,0,3.5,1795.26,-238)"
        >
          <circle cx="332" cy="152" r="2" style="fill: url(#_Radial42)" />
        </g>
        <g
          id="star-l9"
          serif:id="star-l"
          transform="matrix(-6.13589,0,0,6,3487.74,-566)"
        >
          <circle cx="332" cy="152" r="2" style="fill: url(#_Radial43)" />
        </g>
        <g
          class="twinkle-star2"
          id="star-m15"
          serif:id="star-m"
          transform="matrix(-5.11324,0,0,5,2675.76,-369)"
        >
          <circle cx="332" cy="152" r="2" style="fill: url(#_Radial44)" />
        </g>
        <g
          class="twinkle-star"
          id="star-m16"
          serif:id="star-m"
          transform="matrix(-5.11324,0,0,5,3035.73,-460)"
        >
          <circle cx="332" cy="152" r="2" style="fill: url(#_Radial45)" />
        </g>
        <g
          id="star-m17"
          serif:id="star-m"
          transform="matrix(-5.11324,0,0,5,2203.3,-525)"
        >
          <circle cx="332" cy="152" r="2" style="fill: url(#_Radial46)" />
        </g>
        <g
          id="star-s18"
          serif:id="star-s"
          transform="matrix(-3.57927,0,0,3.5,2329.08,-215)"
        >
          <circle cx="332" cy="152" r="2" style="fill: url(#_Radial47)" />
        </g>
        <g
          class="twinkle-star"
          id="star-s19"
          serif:id="star-s"
          transform="matrix(-3.57927,0,0,3.5,1228.71,-193)"
        >
          <circle cx="332" cy="152" r="2" style="fill: url(#_Radial48)" />
        </g>
        <g
          id="star-s20"
          serif:id="star-s"
          transform="matrix(-3.57927,0,0,3.5,1427.11,-287)"
        >
          <circle cx="332" cy="152" r="2" style="fill: url(#_Radial49)" />
        </g>
        <g
          class="twinkle-star2"
          id="star-s21"
          serif:id="star-s"
          transform="matrix(-3.57927,0,0,3.5,1303.37,-297)"
        >
          <circle cx="332" cy="152" r="2" style="fill: url(#_Radial50)" />
        </g>
        <g
          class="twinkle-star"
          id="star-s22"
          serif:id="star-s"
          transform="matrix(-3.57927,0,0,3.5,3100.16,-287)"
        >
          <circle cx="332" cy="152" r="2" style="fill: url(#_Radial51)" />
        </g>
        <g
          class="twinkle-star2"
          id="star-s23"
          serif:id="star-s"
          transform="matrix(-3.57927,0,0,3.5,2803.59,-301)"
        >
          <circle cx="332" cy="152" r="2" style="fill: url(#_Radial52)" />
        </g>
      </g>
      <defs>
        <radialGradient
          id="_Radial1"
          cx="0"
          cy="0"
          r="1"
          gradientUnits="userSpaceOnUse"
          gradientTransform="matrix(1.22465e-16,2,-2,1.22465e-16,332,152)"
        >
          <stop
            offset="0"
            style="stop-color: rgb(206, 255, 255); stop-opacity: 1"
          />
          <stop
            offset="1"
            style="stop-color: rgb(157, 62, 127); stop-opacity: 0"
          />
        </radialGradient>
        <radialGradient
          id="_Radial2"
          cx="0"
          cy="0"
          r="1"
          gradientUnits="userSpaceOnUse"
          gradientTransform="matrix(1.22465e-16,2,-2,1.22465e-16,332,152)"
        >
          <stop
            offset="0"
            style="stop-color: rgb(206, 255, 255); stop-opacity: 1"
          />
          <stop
            offset="1"
            style="stop-color: rgb(157, 62, 127); stop-opacity: 0"
          />
        </radialGradient>
        <radialGradient
          id="_Radial3"
          cx="0"
          cy="0"
          r="1"
          gradientUnits="userSpaceOnUse"
          gradientTransform="matrix(1.22465e-16,2,-2,1.22465e-16,332,152)"
        >
          <stop
            offset="0"
            style="stop-color: rgb(206, 255, 255); stop-opacity: 1"
          />
          <stop
            offset="1"
            style="stop-color: rgb(157, 62, 127); stop-opacity: 0"
          />
        </radialGradient>
        <radialGradient
          id="_Radial4"
          cx="0"
          cy="0"
          r="1"
          gradientUnits="userSpaceOnUse"
          gradientTransform="matrix(1.22465e-16,2,-2,1.22465e-16,332,152)"
        >
          <stop
            offset="0"
            style="stop-color: rgb(206, 255, 255); stop-opacity: 1"
          />
          <stop
            offset="1"
            style="stop-color: rgb(157, 62, 127); stop-opacity: 0"
          />
        </radialGradient>
        <radialGradient
          id="_Radial5"
          cx="0"
          cy="0"
          r="1"
          gradientUnits="userSpaceOnUse"
          gradientTransform="matrix(1.22465e-16,2,-2,1.22465e-16,332,152)"
        >
          <stop
            offset="0"
            style="stop-color: rgb(206, 255, 255); stop-opacity: 1"
          />
          <stop
            offset="1"
            style="stop-color: rgb(157, 62, 127); stop-opacity: 0"
          />
        </radialGradient>
        <radialGradient
          id="_Radial6"
          cx="0"
          cy="0"
          r="1"
          gradientUnits="userSpaceOnUse"
          gradientTransform="matrix(1.22465e-16,2,-2,1.22465e-16,332,152)"
        >
          <stop
            offset="0"
            style="stop-color: rgb(206, 255, 255); stop-opacity: 1"
          />
          <stop
            offset="1"
            style="stop-color: rgb(157, 62, 127); stop-opacity: 0"
          />
        </radialGradient>
        <radialGradient
          id="_Radial7"
          cx="0"
          cy="0"
          r="1"
          gradientUnits="userSpaceOnUse"
          gradientTransform="matrix(1.22465e-16,2,-2,1.22465e-16,332,152)"
        >
          <stop
            offset="0"
            style="stop-color: rgb(206, 255, 255); stop-opacity: 1"
          />
          <stop
            offset="1"
            style="stop-color: rgb(157, 62, 127); stop-opacity: 0"
          />
        </radialGradient>
        <radialGradient
          id="_Radial8"
          cx="0"
          cy="0"
          r="1"
          gradientUnits="userSpaceOnUse"
          gradientTransform="matrix(1.22465e-16,2,-2,1.22465e-16,332,152)"
        >
          <stop
            offset="0"
            style="stop-color: rgb(206, 255, 255); stop-opacity: 1"
          />
          <stop
            offset="1"
            style="stop-color: rgb(157, 62, 127); stop-opacity: 0"
          />
        </radialGradient>
        <radialGradient
          id="_Radial9"
          cx="0"
          cy="0"
          r="1"
          gradientUnits="userSpaceOnUse"
          gradientTransform="matrix(1.22465e-16,2,-2,1.22465e-16,332,152)"
        >
          <stop
            offset="0"
            style="stop-color: rgb(206, 255, 255); stop-opacity: 1"
          />
          <stop
            offset="1"
            style="stop-color: rgb(157, 62, 127); stop-opacity: 0"
          />
        </radialGradient>
        <radialGradient
          id="_Radial10"
          cx="0"
          cy="0"
          r="1"
          gradientUnits="userSpaceOnUse"
          gradientTransform="matrix(1.22465e-16,2,-2,1.22465e-16,332,152)"
        >
          <stop
            offset="0"
            style="stop-color: rgb(206, 255, 255); stop-opacity: 1"
          />
          <stop
            offset="1"
            style="stop-color: rgb(157, 62, 127); stop-opacity: 0"
          />
        </radialGradient>
        <radialGradient
          id="_Radial11"
          cx="0"
          cy="0"
          r="1"
          gradientUnits="userSpaceOnUse"
          gradientTransform="matrix(1.22465e-16,2,-2,1.22465e-16,332,152)"
        >
          <stop
            offset="0"
            style="stop-color: rgb(206, 255, 255); stop-opacity: 1"
          />
          <stop
            offset="1"
            style="stop-color: rgb(157, 62, 127); stop-opacity: 0"
          />
        </radialGradient>
        <radialGradient
          id="_Radial12"
          cx="0"
          cy="0"
          r="1"
          gradientUnits="userSpaceOnUse"
          gradientTransform="matrix(1.22465e-16,2,-2,1.22465e-16,332,152)"
        >
          <stop
            offset="0"
            style="stop-color: rgb(206, 255, 255); stop-opacity: 1"
          />
          <stop
            offset="1"
            style="stop-color: rgb(157, 62, 127); stop-opacity: 0"
          />
        </radialGradient>
        <radialGradient
          id="_Radial13"
          cx="0"
          cy="0"
          r="1"
          gradientUnits="userSpaceOnUse"
          gradientTransform="matrix(1.22465e-16,2,-2,1.22465e-16,332,152)"
        >
          <stop
            offset="0"
            style="stop-color: rgb(206, 255, 255); stop-opacity: 1"
          />
          <stop
            offset="1"
            style="stop-color: rgb(157, 62, 127); stop-opacity: 0"
          />
        </radialGradient>
        <radialGradient
          id="_Radial14"
          cx="0"
          cy="0"
          r="1"
          gradientUnits="userSpaceOnUse"
          gradientTransform="matrix(1.22465e-16,2,-2,1.22465e-16,332,152)"
        >
          <stop
            offset="0"
            style="stop-color: rgb(206, 255, 255); stop-opacity: 1"
          />
          <stop
            offset="1"
            style="stop-color: rgb(157, 62, 127); stop-opacity: 0"
          />
        </radialGradient>
        <radialGradient
          id="_Radial15"
          cx="0"
          cy="0"
          r="1"
          gradientUnits="userSpaceOnUse"
          gradientTransform="matrix(1.22465e-16,2,-2,1.22465e-16,332,152)"
        >
          <stop
            offset="0"
            style="stop-color: rgb(206, 255, 255); stop-opacity: 1"
          />
          <stop
            offset="1"
            style="stop-color: rgb(157, 62, 127); stop-opacity: 0"
          />
        </radialGradient>
        <radialGradient
          id="_Radial16"
          cx="0"
          cy="0"
          r="1"
          gradientUnits="userSpaceOnUse"
          gradientTransform="matrix(1.22465e-16,2,-2,1.22465e-16,332,152)"
        >
          <stop
            offset="0"
            style="stop-color: rgb(206, 255, 255); stop-opacity: 1"
          />
          <stop
            offset="1"
            style="stop-color: rgb(157, 62, 127); stop-opacity: 0"
          />
        </radialGradient>
        <radialGradient
          id="_Radial17"
          cx="0"
          cy="0"
          r="1"
          gradientUnits="userSpaceOnUse"
          gradientTransform="matrix(1.22465e-16,2,-2,1.22465e-16,332,152)"
        >
          <stop
            offset="0"
            style="stop-color: rgb(206, 255, 255); stop-opacity: 1"
          />
          <stop
            offset="1"
            style="stop-color: rgb(157, 62, 127); stop-opacity: 0"
          />
        </radialGradient>
        <radialGradient
          id="_Radial18"
          cx="0"
          cy="0"
          r="1"
          gradientUnits="userSpaceOnUse"
          gradientTransform="matrix(1.22465e-16,2,-2,1.22465e-16,332,152)"
        >
          <stop
            offset="0"
            style="stop-color: rgb(206, 255, 255); stop-opacity: 1"
          />
          <stop
            offset="1"
            style="stop-color: rgb(157, 62, 127); stop-opacity: 0"
          />
        </radialGradient>
        <radialGradient
          id="_Radial19"
          cx="0"
          cy="0"
          r="1"
          gradientUnits="userSpaceOnUse"
          gradientTransform="matrix(1.22465e-16,2,-2,1.22465e-16,332,152)"
        >
          <stop
            offset="0"
            style="stop-color: rgb(206, 255, 255); stop-opacity: 1"
          />
          <stop
            offset="1"
            style="stop-color: rgb(157, 62, 127); stop-opacity: 0"
          />
        </radialGradient>
        <radialGradient
          id="_Radial20"
          cx="0"
          cy="0"
          r="1"
          gradientUnits="userSpaceOnUse"
          gradientTransform="matrix(1.22465e-16,2,-2,1.22465e-16,332,152)"
        >
          <stop
            offset="0"
            style="stop-color: rgb(206, 255, 255); stop-opacity: 1"
          />
          <stop
            offset="1"
            style="stop-color: rgb(157, 62, 127); stop-opacity: 0"
          />
        </radialGradient>
        <radialGradient
          id="_Radial21"
          cx="0"
          cy="0"
          r="1"
          gradientUnits="userSpaceOnUse"
          gradientTransform="matrix(1.22465e-16,2,-2,1.22465e-16,332,152)"
        >
          <stop
            offset="0"
            style="stop-color: rgb(206, 255, 255); stop-opacity: 1"
          />
          <stop
            offset="1"
            style="stop-color: rgb(157, 62, 127); stop-opacity: 0"
          />
        </radialGradient>
        <radialGradient
          id="_Radial22"
          cx="0"
          cy="0"
          r="1"
          gradientUnits="userSpaceOnUse"
          gradientTransform="matrix(1.22465e-16,2,-2,1.22465e-16,332,152)"
        >
          <stop
            offset="0"
            style="stop-color: rgb(206, 255, 255); stop-opacity: 1"
          />
          <stop
            offset="1"
            style="stop-color: rgb(157, 62, 127); stop-opacity: 0"
          />
        </radialGradient>
        <radialGradient
          id="_Radial23"
          cx="0"
          cy="0"
          r="1"
          gradientUnits="userSpaceOnUse"
          gradientTransform="matrix(1.22465e-16,2,-2,1.22465e-16,332,152)"
        >
          <stop
            offset="0"
            style="stop-color: rgb(206, 255, 255); stop-opacity: 1"
          />
          <stop
            offset="1"
            style="stop-color: rgb(157, 62, 127); stop-opacity: 0"
          />
        </radialGradient>
        <radialGradient
          id="_Radial24"
          cx="0"
          cy="0"
          r="1"
          gradientUnits="userSpaceOnUse"
          gradientTransform="matrix(1.22465e-16,2,-2,1.22465e-16,332,152)"
        >
          <stop
            offset="0"
            style="stop-color: rgb(206, 255, 255); stop-opacity: 1"
          />
          <stop
            offset="1"
            style="stop-color: rgb(157, 62, 127); stop-opacity: 0"
          />
        </radialGradient>
        <radialGradient
          id="_Radial25"
          cx="0"
          cy="0"
          r="1"
          gradientUnits="userSpaceOnUse"
          gradientTransform="matrix(1.22465e-16,2,-2,1.22465e-16,332,152)"
        >
          <stop
            offset="0"
            style="stop-color: rgb(206, 255, 255); stop-opacity: 1"
          />
          <stop
            offset="1"
            style="stop-color: rgb(157, 62, 127); stop-opacity: 0"
          />
        </radialGradient>
        <radialGradient
          id="_Radial26"
          cx="0"
          cy="0"
          r="1"
          gradientUnits="userSpaceOnUse"
          gradientTransform="matrix(1.22465e-16,2,-2,1.22465e-16,332,152)"
        >
          <stop
            offset="0"
            style="stop-color: rgb(206, 255, 255); stop-opacity: 1"
          />
          <stop
            offset="1"
            style="stop-color: rgb(157, 62, 127); stop-opacity: 0"
          />
        </radialGradient>
        <radialGradient
          id="_Radial27"
          cx="0"
          cy="0"
          r="1"
          gradientUnits="userSpaceOnUse"
          gradientTransform="matrix(1.22465e-16,2,-2,1.22465e-16,332,152)"
        >
          <stop
            offset="0"
            style="stop-color: rgb(206, 255, 255); stop-opacity: 1"
          />
          <stop
            offset="1"
            style="stop-color: rgb(157, 62, 127); stop-opacity: 0"
          />
        </radialGradient>
        <radialGradient
          id="_Radial28"
          cx="0"
          cy="0"
          r="1"
          gradientUnits="userSpaceOnUse"
          gradientTransform="matrix(1.22465e-16,2,-2,1.22465e-16,332,152)"
        >
          <stop
            offset="0"
            style="stop-color: rgb(206, 255, 255); stop-opacity: 1"
          />
          <stop
            offset="1"
            style="stop-color: rgb(157, 62, 127); stop-opacity: 0"
          />
        </radialGradient>
        <radialGradient
          id="_Radial29"
          cx="0"
          cy="0"
          r="1"
          gradientUnits="userSpaceOnUse"
          gradientTransform="matrix(1.22465e-16,2,-2,1.22465e-16,332,152)"
        >
          <stop
            offset="0"
            style="stop-color: rgb(206, 255, 255); stop-opacity: 1"
          />
          <stop
            offset="1"
            style="stop-color: rgb(157, 62, 127); stop-opacity: 0"
          />
        </radialGradient>
        <radialGradient
          id="_Radial30"
          cx="0"
          cy="0"
          r="1"
          gradientUnits="userSpaceOnUse"
          gradientTransform="matrix(1.22465e-16,2,-2,1.22465e-16,332,152)"
        >
          <stop
            offset="0"
            style="stop-color: rgb(206, 255, 255); stop-opacity: 1"
          />
          <stop
            offset="1"
            style="stop-color: rgb(157, 62, 127); stop-opacity: 0"
          />
        </radialGradient>
        <radialGradient
          id="_Radial31"
          cx="0"
          cy="0"
          r="1"
          gradientUnits="userSpaceOnUse"
          gradientTransform="matrix(1.22465e-16,2,-2,1.22465e-16,332,152)"
        >
          <stop
            offset="0"
            style="stop-color: rgb(206, 255, 255); stop-opacity: 1"
          />
          <stop
            offset="1"
            style="stop-color: rgb(157, 62, 127); stop-opacity: 0"
          />
        </radialGradient>
        <radialGradient
          id="_Radial32"
          cx="0"
          cy="0"
          r="1"
          gradientUnits="userSpaceOnUse"
          gradientTransform="matrix(1.22465e-16,2,-2,1.22465e-16,332,152)"
        >
          <stop
            offset="0"
            style="stop-color: rgb(206, 255, 255); stop-opacity: 1"
          />
          <stop
            offset="1"
            style="stop-color: rgb(157, 62, 127); stop-opacity: 0"
          />
        </radialGradient>
        <radialGradient
          id="_Radial33"
          cx="0"
          cy="0"
          r="1"
          gradientUnits="userSpaceOnUse"
          gradientTransform="matrix(1.22465e-16,2,-2,1.22465e-16,332,152)"
        >
          <stop
            offset="0"
            style="stop-color: rgb(206, 255, 255); stop-opacity: 1"
          />
          <stop
            offset="1"
            style="stop-color: rgb(157, 62, 127); stop-opacity: 0"
          />
        </radialGradient>
        <radialGradient
          id="_Radial34"
          cx="0"
          cy="0"
          r="1"
          gradientUnits="userSpaceOnUse"
          gradientTransform="matrix(1.22465e-16,2,-2,1.22465e-16,332,152)"
        >
          <stop
            offset="0"
            style="stop-color: rgb(206, 255, 255); stop-opacity: 1"
          />
          <stop
            offset="1"
            style="stop-color: rgb(157, 62, 127); stop-opacity: 0"
          />
        </radialGradient>
        <radialGradient
          id="_Radial35"
          cx="0"
          cy="0"
          r="1"
          gradientUnits="userSpaceOnUse"
          gradientTransform="matrix(1.22465e-16,2,-2,1.22465e-16,332,152)"
        >
          <stop
            offset="0"
            style="stop-color: rgb(206, 255, 255); stop-opacity: 1"
          />
          <stop
            offset="1"
            style="stop-color: rgb(157, 62, 127); stop-opacity: 0"
          />
        </radialGradient>
        <radialGradient
          id="_Radial36"
          cx="0"
          cy="0"
          r="1"
          gradientUnits="userSpaceOnUse"
          gradientTransform="matrix(1.22465e-16,2,-2,1.22465e-16,332,152)"
        >
          <stop
            offset="0"
            style="stop-color: rgb(206, 255, 255); stop-opacity: 1"
          />
          <stop
            offset="1"
            style="stop-color: rgb(157, 62, 127); stop-opacity: 0"
          />
        </radialGradient>
        <radialGradient
          id="_Radial37"
          cx="0"
          cy="0"
          r="1"
          gradientUnits="userSpaceOnUse"
          gradientTransform="matrix(1.22465e-16,2,-2,1.22465e-16,332,152)"
        >
          <stop
            offset="0"
            style="stop-color: rgb(206, 255, 255); stop-opacity: 1"
          />
          <stop
            offset="1"
            style="stop-color: rgb(157, 62, 127); stop-opacity: 0"
          />
        </radialGradient>
        <radialGradient
          id="_Radial38"
          cx="0"
          cy="0"
          r="1"
          gradientUnits="userSpaceOnUse"
          gradientTransform="matrix(1.22465e-16,2,-2,1.22465e-16,332,152)"
        >
          <stop
            offset="0"
            style="stop-color: rgb(206, 255, 255); stop-opacity: 1"
          />
          <stop
            offset="1"
            style="stop-color: rgb(157, 62, 127); stop-opacity: 0"
          />
        </radialGradient>
        <radialGradient
          id="_Radial39"
          cx="0"
          cy="0"
          r="1"
          gradientUnits="userSpaceOnUse"
          gradientTransform="matrix(1.22465e-16,2,-2,1.22465e-16,332,152)"
        >
          <stop
            offset="0"
            style="stop-color: rgb(206, 255, 255); stop-opacity: 1"
          />
          <stop
            offset="1"
            style="stop-color: rgb(157, 62, 127); stop-opacity: 0"
          />
        </radialGradient>
        <radialGradient
          id="_Radial40"
          cx="0"
          cy="0"
          r="1"
          gradientUnits="userSpaceOnUse"
          gradientTransform="matrix(1.22465e-16,2,-2,1.22465e-16,332,152)"
        >
          <stop
            offset="0"
            style="stop-color: rgb(206, 255, 255); stop-opacity: 1"
          />
          <stop
            offset="1"
            style="stop-color: rgb(157, 62, 127); stop-opacity: 0"
          />
        </radialGradient>
        <radialGradient
          id="_Radial41"
          cx="0"
          cy="0"
          r="1"
          gradientUnits="userSpaceOnUse"
          gradientTransform="matrix(1.22465e-16,2,-2,1.22465e-16,332,152)"
        >
          <stop
            offset="0"
            style="stop-color: rgb(206, 255, 255); stop-opacity: 1"
          />
          <stop
            offset="1"
            style="stop-color: rgb(157, 62, 127); stop-opacity: 0"
          />
        </radialGradient>
        <radialGradient
          id="_Radial42"
          cx="0"
          cy="0"
          r="1"
          gradientUnits="userSpaceOnUse"
          gradientTransform="matrix(1.22465e-16,2,-2,1.22465e-16,332,152)"
        >
          <stop
            offset="0"
            style="stop-color: rgb(206, 255, 255); stop-opacity: 1"
          />
          <stop
            offset="1"
            style="stop-color: rgb(157, 62, 127); stop-opacity: 0"
          />
        </radialGradient>
        <radialGradient
          id="_Radial43"
          cx="0"
          cy="0"
          r="1"
          gradientUnits="userSpaceOnUse"
          gradientTransform="matrix(1.22465e-16,2,-2,1.22465e-16,332,152)"
        >
          <stop
            offset="0"
            style="stop-color: rgb(206, 255, 255); stop-opacity: 1"
          />
          <stop
            offset="1"
            style="stop-color: rgb(157, 62, 127); stop-opacity: 0"
          />
        </radialGradient>
        <radialGradient
          id="_Radial44"
          cx="0"
          cy="0"
          r="1"
          gradientUnits="userSpaceOnUse"
          gradientTransform="matrix(1.22465e-16,2,-2,1.22465e-16,332,152)"
        >
          <stop
            offset="0"
            style="stop-color: rgb(206, 255, 255); stop-opacity: 1"
          />
          <stop
            offset="1"
            style="stop-color: rgb(157, 62, 127); stop-opacity: 0"
          />
        </radialGradient>
        <radialGradient
          id="_Radial45"
          cx="0"
          cy="0"
          r="1"
          gradientUnits="userSpaceOnUse"
          gradientTransform="matrix(1.22465e-16,2,-2,1.22465e-16,332,152)"
        >
          <stop
            offset="0"
            style="stop-color: rgb(206, 255, 255); stop-opacity: 1"
          />
          <stop
            offset="1"
            style="stop-color: rgb(157, 62, 127); stop-opacity: 0"
          />
        </radialGradient>
        <radialGradient
          id="_Radial46"
          cx="0"
          cy="0"
          r="1"
          gradientUnits="userSpaceOnUse"
          gradientTransform="matrix(1.22465e-16,2,-2,1.22465e-16,332,152)"
        >
          <stop
            offset="0"
            style="stop-color: rgb(206, 255, 255); stop-opacity: 1"
          />
          <stop
            offset="1"
            style="stop-color: rgb(157, 62, 127); stop-opacity: 0"
          />
        </radialGradient>
        <radialGradient
          id="_Radial47"
          cx="0"
          cy="0"
          r="1"
          gradientUnits="userSpaceOnUse"
          gradientTransform="matrix(1.22465e-16,2,-2,1.22465e-16,332,152)"
        >
          <stop
            offset="0"
            style="stop-color: rgb(206, 255, 255); stop-opacity: 1"
          />
          <stop
            offset="1"
            style="stop-color: rgb(157, 62, 127); stop-opacity: 0"
          />
        </radialGradient>
        <radialGradient
          id="_Radial48"
          cx="0"
          cy="0"
          r="1"
          gradientUnits="userSpaceOnUse"
          gradientTransform="matrix(1.22465e-16,2,-2,1.22465e-16,332,152)"
        >
          <stop
            offset="0"
            style="stop-color: rgb(206, 255, 255); stop-opacity: 1"
          />
          <stop
            offset="1"
            style="stop-color: rgb(157, 62, 127); stop-opacity: 0"
          />
        </radialGradient>
        <radialGradient
          id="_Radial49"
          cx="0"
          cy="0"
          r="1"
          gradientUnits="userSpaceOnUse"
          gradientTransform="matrix(1.22465e-16,2,-2,1.22465e-16,332,152)"
        >
          <stop
            offset="0"
            style="stop-color: rgb(206, 255, 255); stop-opacity: 1"
          />
          <stop
            offset="1"
            style="stop-color: rgb(157, 62, 127); stop-opacity: 0"
          />
        </radialGradient>
        <radialGradient
          id="_Radial50"
          cx="0"
          cy="0"
          r="1"
          gradientUnits="userSpaceOnUse"
          gradientTransform="matrix(1.22465e-16,2,-2,1.22465e-16,332,152)"
        >
          <stop
            offset="0"
            style="stop-color: rgb(206, 255, 255); stop-opacity: 1"
          />
          <stop
            offset="1"
            style="stop-color: rgb(157, 62, 127); stop-opacity: 0"
          />
        </radialGradient>
        <radialGradient
          id="_Radial51"
          cx="0"
          cy="0"
          r="1"
          gradientUnits="userSpaceOnUse"
          gradientTransform="matrix(1.22465e-16,2,-2,1.22465e-16,332,152)"
        >
          <stop
            offset="0"
            style="stop-color: rgb(206, 255, 255); stop-opacity: 1"
          />
          <stop
            offset="1"
            style="stop-color: rgb(157, 62, 127); stop-opacity: 0"
          />
        </radialGradient>
        <radialGradient
          id="_Radial52"
          cx="0"
          cy="0"
          r="1"
          gradientUnits="userSpaceOnUse"
          gradientTransform="matrix(1.22465e-16,2,-2,1.22465e-16,332,152)"
        >
          <stop
            offset="0"
            style="stop-color: rgb(206, 255, 255); stop-opacity: 1"
          />
          <stop
            offset="1"
            style="stop-color: rgb(157, 62, 127); stop-opacity: 0"
          />
        </radialGradient>
      </defs>
    </svg>