{% load crispy_forms_tags %}

{% if request.user.is_authenticated %}
<form action="{% url 'message_to_self' %}" method="POST" class="message-self-form" id="message-self-form" aria-label="send message to self form">
    {% csrf_token %}
    {{ message_form|crispy }}
    <button class="btn btn-affirmative float-right" aria-label="submit updated details" id="submit-message" type="submit" value="Submit"><i class="fas fa-user-edit"></i> Send
        Message</button>
</form>
{% else %}
<div>
    <a href="/accounts/login">Login to send a message!</a>
</div>

{% endif %}